
:root {
    --bg-color: #011212;
    --bg-color-ball: #ff8800;
    --width-ball: 100px;
    --height-ball:100px;
    --br-ball: 50px;
}

body {
    background-color: var(--bg-color);
}

.ball {
    width: var(--width-ball);
    height: var(--height-ball);
    background-color: var(--bg-color-ball);
    border-radius: var(--br-ball);
}