
/* IN COLLABORAZIONE TRA MERLI E BARRANCA */

div {
    border: 1px solid lightgrey;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}

section.grid {
    width: max-content;
    height: max-content;
    display: grid;
    grid-template-columns: 70px 70px 70px 70px;
    grid-template-rows: 50px 60px 60px 60px 60px 60px;
    grid-template-areas: 
        "zero zero zero zero"
        "piu meno per diviso"
        "sette otto nove uguale"
        "quattro cinque sei uguale"
        "uno due tre uguale"
        "zero-bottom-left punto AC uguale";
}

#zero {
    padding-right: 10px;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    grid-column: zero;
    background-color: #424c52;
    color: white;
    border-top: none;
}

#uno {
    grid-area: uno;
    background-color: #eff2f5;
}

#due {
    grid-area: due;
    background-color: #eff2f5;
}

#tre {
    grid-area: tre;
    background-color: #eff2f5;
}

#quattro {
    grid-area: quattro;
    background-color: #eff2f5;
}

#cinque {
    grid-area: cinque;
    background-color: #eff2f5;
}

#sei {
    grid-area: sei;
    background-color: #eff2f5;
}

#sette {
    grid-area: sette;
    background-color: #eff2f5;
}

#otto {
    grid-area: otto;
    background-color: #eff2f5;
}

#nove {
    grid-area: nove;
    background-color: #eff2f5;
}

#piu {
    grid-area: piu;
    background-color: #d2dce3;
}

#meno {
    grid-area: meno;
    background-color: #d2dce3;
}

#per {
    grid-area: per;
    background-color: #d2dce3;
}

#diviso {
    grid-area: diviso;
    background-color: #d2dce3;
}

#uguale {
    grid-area: uguale;
    background-color: #f77077;
}

#AC {
    grid-area: AC;
    background-color: #eff2f5;
}

#punto {
    grid-area: punto;
    background-color: #eff2f5;
}

#zero-bottom-left {
    grid-area: zero-bottom-left;
    background-color: #eff2f5;
}