div {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.cards {
  width: 240px;
  height: 200px;
}

.card {
  width: 240px;
  height: 100px;
  display: flex;
  flex-direction: column;
}

.block1 {
  width: 240px;
  height: 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.image {
  width: 240px;
  height: 200px;
}

.champ {
  width: 240px;
  height: 200px;
}

.sfera {
  width: 32px;
  height: 32px;
  border: 1px solid white;
  border-radius: 50px;
  background-color: white;
}

.white {
  color: rgb(243, 240, 240);
}

.insta {
  padding-left: 10px;
  width: 50px;
  height: 30px;
}

.grassetto {
  font-weight: 600;
}

.text {
  padding: 5px;
}

@media (max-width: 768px) {
}

@media (max-width: 375px) {
  body {
    display: block;
    justify-content: center;
  }
}
